<%- include('../layouts/header.ejs') %>
<%- include('../layouts/commonhead.ejs',{session}) %>
<style>
    .popup {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      width: 100%; /* adjust width as needed */
      height: 100%;
      background-color: rgb(83, 80, 80, 0.4);
      z-index: 999;
    }
  
    .popup-content {
      position: absolute;
      top: 50%;
      right: 35%;
      width: 400px;
      transform: translateY(-50%);
      background-color: white;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      text-align: center;
    }
  
    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
    }
    
    /* Add the following styles to make the main div scrollable */
    .col-lg-4 {
      position: relative;
      overflow: auto;
    }
    
    /* close button  */
    .cart__discount .close {
      position: absolute;
      top: 10px;
      right: 10px;
     }
     @media only screen and  (min-width: 1100px){
      .couponn{
        width:200px ;
        height: 300px;
      }
     }
     @media only screen and  (min-width: 260px){
      .popup-content{
        position: absolute;
      top: 50%;
      right: 2%;
      width: 250px;
      transform: translateY(-50%);
      background-color: white;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      text-align: center;
      }.cpncod{
        font-size: 20px!important; 
      }.cpncpy{
        font-size: 15px;
      }
     }.cpnpercent{
      font-size: 12px;
      margin: 0 !important;
      margin-left: 10px!important;
      margin-top: 8px!important;
      font-weight: 800;
     }.minmaax{
      font-size: 15px;
     }
     
      
  </style>
    <!-- Header Section Begin -->
    



        <section class="shopping-cart spad">
            <div class="container ">
                <div class="row ">
                    <div class="col-lg-8">
                      
                        <div class="shopping__cart__table">
                            <table class="table table-responsive ">
                                <thead>
                                  <% if(cartProducts==null){ %>
                                    <div class="d-flex justify-content-end">
                                    <img  src="https://vividparts.com/site_assets/images/empty_cart.gif" alt="">
                                  </div>
                                    <% }else{ %>
                                    <tr>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th></th>
                                    </tr>
                                    <% } %>
                                </thead>
                                <tbody>
                                    <%if(cartProducts==undefined){%>
                                        <%}else{%>
                                          
                                            <%if(cartProducts.item){%>
                                                <%cartProducts.item.forEach((item)=>{%>
                                                
                                                    <tr>
                                                        <td class="product__cart__item">
                                                            <div class="product__cart__item__pic">
                                                                <img style="width: 80px; height: 80px;"
                                                                    src="/proImage/<%=item.product.image[0]%>" alt="">
                                                            </div>
                                                            <div class="product__cart__item__text">
                                                                <h6>
                                                                    <%=item.product.title%>
                                                                </h6>
                                                                <h5>RS <%=item.price%>
                                                                </h5>
                                                                
                                                            </div>
                                                        </td>

                                                        <td class="quantity__item">
                                                            <div class="quantity">
                                                                <div class=" d-flex mt-3">
                                                                    
                                                                    <button class="quantity__minus" data-id="<%= item.product._id %>" data-index="" onclick="decrement('<%= item.product._id %>')">-</button>

                                                                    <h5 id="quantity-<%= item.product._id %>" class="ml-3 mr-3"><%= item.quantity %></h5>
                                                                    
                                                                    <button class="quantity__plus" data-id="<%= item.product._id %>" data-index="" onclick="increment('<%= item.product._id %>')">+</button>
                                                                    
  
                                                                      
                  
                                                                </div>
                                                            </div>
                                                        </td>

                                                        

                                                        <td class="cart__price pt-5"><strong>Rs</strong>
                                                         <span class="" id="prototal<%= item.product._id %>"> <%=item.total%> </span>
                                                        </td>
                                                        <td class="cart__close"><a
                                                                href="/deleteCart?id=<%=item._id%>"><i
                                                                    class="fa fa-close"></i></a></td>
                                                    </tr>
                                                    
                                                    <%})%>
                                                        <%}%>
                                                            <%}%>
                                                            
                                                               

                                </tbody>

                            </table>
                        </div>
                        <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-6">
                              <div class="continue__btn">
                                  <a href="#">Continue Shopping</a>
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-6">
                              
                          </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                        <% if(cartProducts){ %>
                          <div class="cart__discount">
                            <div class="d-flex justify-content-between">
                              <h6>Discount codes</h6>
                              <a class="" style="color: rgb(5, 9, 247);" href="#" onclick="openPopup()">Coupons</a>
                            </div>
                            <form action="/couponApply" method="post">
                              <input name="Coupon" type="text" placeholder="Coupon code">
                              <button type="submit">Apply</button>
                            </form>
                          </div>
                        
                        <div class="cart__total">
                          <h6>Cart total</h6>
                          <ul>
                            <% if(cartProducts){ %>
                              <li>Total Price: <span id="totalPrice">Rs <%= cartProducts.totalPrice %> </span></li>
                              <% if(cartProducts.discount > 0){ %>
                                <li>Discount (-): <span id="discount" class="text-center">Rs <%= cartProducts.discount %></span></li>
                              <% } %>
                              <li>Total: <span id="subtotal" class="text-center"> Rs <%= cartProducts.subtotal %></span></li>
                            <% } %>
                          </ul>
                          <a href="/checkout" class="primary-btn">Proceed to checkout</a>
                        </div>
                        <% } %>
                        <!--popup window  -->
                        
                        <% if (coupons  && coupons.length > 0) { %>
                        <div id="couponPopup" class="popup ">
                            <div class="popup-content bg-danger text-white">
                              <span class="close" onclick="closePopup()">&times;</span>
                                <h5 class="mb-3 ">Coupon Codes</h5>
                            <% for (var i = 0; i < coupons.length; i++) { %>
                              <% if (coupons[i].expiryDate < new Date()) { %>
                                
                                  <% } else { %>
                                   
                                    <ul>
                                  
                                      <li class="d-flex justify-content-center">
                                        
                                        <div>
                                        <h5 class="mb-4 cpncod" style= "font-weight: 600; color: rgb(212, 223, 153); font-size: 30px;" id="myText"> <%= coupons[i].couponId %> </h5></div><div class="mt-2 ms-3 cpnpercent"> - <%= coupons[i].discount %>% off </div>
                                        <a class="btn cpncpy" onclick="copyToClipboard(this)">Copy</a>
                                      </li>
                                      <li class="d-flex justify-content-between">
                                        <div>
                                       <h6 class="minmaax">Minimum Purchase of </h6></div><div class="amtt"> <%= coupons[i].minAmount %>Rs</div>
                                      </li>
                                      <li class="d-flex justify-content-between"><div>
                                          <h6 class="minmaax">Maximum Discount </h6></div><div class=""> <%= coupons[i].maxAmt %>Rs</div>
                                         </li>
                                        </ul>
                                 <% } %><hr>
                            <% } %>

                            </div>
                        </div>
                        <% } else { %>
                            <p>No coupons available</p>
                          <% } %>
                        </div>
                    </div>
                      
                    <script>
                        // Open the popup window
                        function openPopup() {
                          document.getElementById("couponPopup").style.display = "block";
                        }
                      
                        // Close the popup window
                        function closePopup() {
                          document.getElementById("couponPopup").style.display = "none";
                        }
                      </script> 
                      <script>
                     function copyToClipboard(button) {
  const textToCopy = document.getElementById("myText").innerText;

  navigator.clipboard.writeText(textToCopy).then(() => {
    button.innerText = "Copied!";
  }).catch((error) => {
    alert("Error copying text to clipboard: " + error);
  });
}


                      </script>
                </div>
            </div>
        </section>

        
       
       

        <%if(msg!=null){%>
            <script>
               Swal.fire({
  title: '<%=msg%>',
  icon: 'error',
  confirmButtonText: 'Ok'
});
            </script>
            <%}%>
            <%if(message){%>
                <script>
                   Swal.fire({
      title: '<%=message%>',
      icon: 'error',
      confirmButtonText: 'Ok'
    });
                </script>
                <%}%>
                <%if(mess){%>
                  <script>
                     Swal.fire({
        title: '<%=mess%>',
        icon: 'success',
        confirmButtonText: 'Ok'
      });
                  </script>
                  <%}%>


            <script>
                function increment(id) {
                $.ajax({
                  type: 'GET',
                  url: '/incrementCart?id=' + id,
                  success: function(data) {
                    // Update the quantity displayed in the cart
                    var index = $('#quantity-' + id);
                    index.text(data.quantity);
                    // Update the total price displayed in the cart
                    var totalPrice = $('#totalPrice');
                    totalPrice.text('Rs ' + data.totalPrice);
                    var subtotal = $('#subtotal');
                    subtotal.text('Rs ' + data.subtotal);
                      var prototal=$('#prototal'+id)
                    prototal.text(data.prototal);
                    var discount= $('#discount')
                    discount.text('Rs'+ data.discounts);
                  },
                  error: function() {
                      msg='Out Of Stock'
                    Swal.fire({
                      title: msg,
                      icon: 'error',
                      confirmButtonText: 'Ok'
                    });
                  }
                });
              }
              
              function decrement(id) {
                $.ajax({
                  type: 'GET',
                  url: '/decrementCart?id=' + id ,
                  success: function(data) {
                    // Update the quantity displayed in the cart
                    var index = $('#quantity-' + id);
                    index.text(data.quantity);
                    // Update the total price displayed in the cart
                    var totalPrice = $('#totalPrice');
                    totalPrice.text('Rs ' + data.totalPrice);
                    var subtotal = $('#subtotal');
                    subtotal.text('Rs ' + data.subtotal);
                    var prototal=$('#prototal'+id)
                    prototal.text(data.prototal)
                    var discount= $('#discount')
                    discount.text(data.discounts+'-')
                  },
                  error: function() {
                      msg='Add atleast one product in cart'
                    Swal.fire({
                      title: msg,
                      icon: 'error',
                      confirmButtonText: 'Ok'
                    });
                  }
                });
              }
              
              
                </script>


   <%- include('../layouts/commonfooter.ejs',{session}) %>
   <%- include('../layouts/footer.ejs') %>