<%- include('../layouts/header.ejs') %>
<%- include('../layouts/commonhead.ejs',{session}) %>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    

        <section class="breadcrumb-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb__text">
                            <h4>Check Out</h4>
                            <div class="breadcrumb__links">
                                <a href="./index.html">Home</a>
                                <a href="./shop.html">Shop</a>
                                <span>Check Out</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Breadcrumb Section End -->

        <!-- Checkout Section Begin -->
        <section class="checkout spad d-flex">
            <div class="container">
                <div class="checkout__form">
                    <form action="paymentPage" method="post" id="addressform">
                    <div class="row">

                        <div class="col-lg-8 col-md-6 ">

                            <div class="d-flex justify-content-end">
                                <a class="btn btn-dark" href="/address">
                                   Select Address
                                </a>

                            </div>
                            <h6 class="checkout__title">Billing Details</h6>
                           
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="checkout__input">
                                            <% if (addressCount==undefined) { %>
                                                <p>First Name<span>*</span></p>
                                                <input type="text" name="username" value="<%= address[0].username %>" placeholder="" 
                                                    />
                                                    <span class="error-message"></span>
                                                <% } else { %>
                                                    <p>First Name<span>*</span></p>
                                                    <input type="text" name="username"
                                                        value="<%=addressCount.username%>"   />
                                                    <span class="error-message"></span>
                                                    <% } %>
                                        </div>
                                    </div>
                                </div>

                                <div class="checkout__input">

                                    <p>Country<span>*</span></p>
                                    <input type="text" value="INDIA" readonly>

                                </div>
                                <div class="checkout__input">
                                    <% if (addressCount==undefined) { %>
                                        <p>Address<span>*</span></p>
                                        <input  name="address" id="inputOrgName" cols="30" rows="5"
                                            class="form-control " style="height: 100px;" value="<%= address[0].address %>"  placeholder=""
                                            >
                                        <% } else { %>
                                            <p>Address<span>*</span></p>
                                            <input name="address" id="inputOrgName" cols="30" rows="5"
                                                class="form-control" value="<%= addressCount.address %>" >

                                            <% } %>
                                </div>
                                <div class="checkout__input">
                                    <% if (addressCount==undefined) { %>
                                        <p>Town/City<span>*</span></p>
                                        <input name="city" type="text" value="<%= address[0].city %> " placeholder="" >
                                        <% } else { %>
                                            <p>Town/City<span>*</span></p>
                                            <input name="city" type="text" value="<%=addressCount.city%>" >
                                            <% } %>
                                </div>
                                <div class="checkout__input">
                                    <% if (addressCount==undefined) { %>
                                        <p>State<span>*</span></p>
                                        <input name="state" type="text" value="<%= address[0].state %>" placeholder="" >
                                        <% } else { %>
                                            <p>State<span>*</span></p>
                                            <input name="state" type="text" value="<%=addressCount.state%>" >
                                            <% } %>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="checkout__input">
                                            <% if (addressCount==undefined) { %>
                                                <p>Postcode / ZIP<span>*</span></p>
                                                <input name="zip" type="text" value="<%= address[0].zip %>" placeholder="" >
                                                <% } else { %>
                                                    <p>Postcode / ZIP<span>*</span></p>
                                                    <input name="zip" type="text" value="<%=addressCount.zip%>" >
                                                    <% } %>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="checkout__input">
                                            <% if (addressCount==undefined) { %>
                                                <p>Phone<span>*</span></p>
                                                <input name="phone" type="tel" value="<%= address[0].phone %>" placeholder=""  maxlength=10 >
                                                <% } else { %>
                                                    <p>Phone<span>*</span></p>
                                                    <input name="phone" type="tel" value="<%=addressCount.phone%> "minlength=10 >
                                                    <% } %>
                                        </div>
                                    </div>

                                </div>

                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4 class="order__title">Your order</h4>
                                <div class="checkout__order__products">Product <span>Total</span></div>
                                <% if (cart.item==undefined) { %>
                                    <% } else { %>
                                        <% let totalPrice=0 %>
                                            <%cart.item.forEach((item)=>{%>

                                                <ul class="checkout__total__products">
                                                    <li><img width="30px" height="30px"
                                                            src="/proImage/<%=item.product.image[0]%>" alt="">
                                                        <%=item.product.title%> <span>
                                                                <%=item.price * item.quantity%>
                                                            </span>
                                                    </li>
                                                </ul>
                                                <%})%>

                                                    <ul class="checkout__total__all">
                                                        <li class="text-success">Discount <span class="text-success">
                                                           - <%=cart.discount%>
                                                        </span></li>
                                                        <li>Total <span class="fs-5">
                                                                <%=cart.subtotal%>
                                                            </span></li>
                                                    </ul>
                                                    <% } %>
                                                        
                                                            
                                                            <button type="submit" class="site-btn">PROCEED TO
                                                                PAYMENTS</button>
                                                                <small class="text-danger error mt-3"></small>

                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </section>

       
<script>

const form = document.getElementById('addressform');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  const usernameInput = document.getElementsByName('username')[0];
  const addressInput = document.getElementsByName('address')[0];
  const cityInput = document.getElementsByName('city')[0];
  const stateInput = document.getElementsByName('state')[0];
  const zipInput = document.getElementsByName('zip')[0];
  const phoneInput = document.getElementsByName('phone')[0];
  const errorElement = document.querySelector('.error');

  let isValid = true;
  if (usernameInput.value.trim().length === ''||usernameInput.value.trim().length < 2) {
    isValid = false;
    errorElement.textContent='Please enter a valid first name.'
  }
  
  if (addressInput.value.trim() === ''||addressInput.value.trim().length<5||addressInput.value.trim().length>40) {
    isValid = false;
    errorElement.textContent = 'Please enter a valid address.';
  }
  
  if (cityInput.value.trim() === ''||cityInput.value.trim().length<3||cityInput.value.trim().length>16) {
    isValid = false;
    errorElement.textContent = 'Please enter a valid city.';
  }
  
  if (stateInput.value.trim() === ''||stateInput.value.trim().length<3||stateInput.value.trim().length>16) {
    isValid = false;
    errorElement.textContent = 'Please enter a valid state.';
  } 
  
  if (zipInput.value.trim().length === '' || !/^\d{5,6}$/.test(zipInput.value.trim())) {
    isValid = false;
    errorElement.textContent = 'Please enter a valid zip code.';
  }
  if (phoneInput.value.trim().length !== '' && !/^\d{10}$/.test(phoneInput.value.trim())) {
    isValid = false;
    errorElement.textContent = 'Please enter a valid phone number.';
  } 
  
  // If the form is valid, submit it
  if (isValid) {
    form.submit();
  }
});

</script>
        <%- include('../layouts/commonfooter.ejs',{session}) %>
        <%- include('../layouts/footer.ejs') %>